.course-page-container {
  padding: 1.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}